

.footer{

    &__container{
        max-width: 100%;
        padding: 47px 85px;
        background: #2C343E;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    &__logo{
        width: 236px;
        height: 26px;
        flex-shrink: 0;
    }

    &__list{
        display: flex;
        gap: 33px;
    }

    &__link{
        color: #83888F;
        font-family: Barlow;
        font-size: 12px;
        font-style: normal;
        font-weight: 700;
        line-height: 15px; /* 125% */
        letter-spacing: 0.923px;
        text-transform: uppercase;
        transition: color 0.3s ease;

        &:hover{
            color: #fff;
        }
    }
    
    .footer__social{
        display: flex;
        gap: 20px;
    }

    &__social--icon img:hover{
        fill: #FDD6BA;
    }
}

/* footer-tablet */

@media(max-width: 820px){
    .footer__container{
        flex-direction: column;
    }

    .footer__list{
        padding-top: 32px;
        padding-bottom: 65px;
    }
}